<app-menu></app-menu>
<app-hero></app-hero>

<div style="background-image: url('/img/family-cla.png'); background-size: cover; background-position: center;"
  class="uk-section">

  <div id="comecar" class="uk-container uk-text-center">
    <p style="color: #FFD700; font-size: 1.3rem; font-weight:600; text-shadow: #000 1px 1px;">Recupere o controlo <br>e
      autoridade sobre sua vida</p>
  </div>


  <ul uk-accordion="collapsible: true" class="glass-accordion">
    <li class="uk-open">
      <a class="uk-accordion-title" href> Repense a República</a>
      <div class="uk-accordion-content">
        <p><b>O indivíduo é o mais importante que o Estado.</b></p>

        <p>Nenhum decreto criou riqueza. Nenhum parlamento tornou alguém próspero. A economia real acontece no
          bolso de cada indivíduo, nas suas escolhas e na sua coragem de empreender. Angola tem recursos
          abundantes, mas só a liberdade cria prosperidade.
          Reaprender a economia é assumir que a sua riqueza depende apenas de você.</p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href>Reapreanda a Economia</a>
      <div class="uk-accordion-content">
        <p>Nenhum decreto criou riqueza. Nenhum parlamento tornou alguém próspero. A economia real acontece no
          bolso de cada indivíduo, nas suas escolhas e na sua coragem de empreender. Angola tem recursos
          abundantes, mas só a liberdade cria prosperidade.
          <br>Reaprender a economia é assumir que a sua riqueza depende apenas de você.
        </p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href> Reaproveite sua Mente</a>
      <div class="uk-accordion-content">
        <p>Durante gerações fomos ensinados a esperar soluções de cima. Mas a verdadeira liderança vem de
          dentro. Quando a mente é livre, ela não obedece: cria, transforma, conduz. Uma sociedade de
          indivíduos livres é mais forte do que qualquer governo.</p>
      </div>
    </li>
  </ul>
</div>

<div
  style="background-image: url('/img/unity-cla.png'); background-position: center;background-repeat: no-repeat; background-size: cover;">




  <div class="uk-container ">

    <div class="uk-text-center uk-container uk-margin-large-top">
      <h1 style="color: #ffd71c; font-weight: 600px;" class="botao-black"> Os Quatro Pilares</h1>
      <p> <b style="color: #000 !important;"> Não pretendemos ser tudo. </b> </p>
    </div>

    <div class="uk-margin-medium-top uk-child-width-1-4@m uk-grid-small uk-grid-match card-grid uk-margin-medium-bottom"
      uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 300; repeat: false" uk-grid>
      <div>
        <div class="uk-card custom-card">
          <h3 class="uk-card-title">O que somos</h3>
          <p>Uma Confederação de indivíduos livres que defendem mérito, prosperidade e soberania pessoal acima
            do Estado. Somos a voz de quem escolhe viver sem limites impostos.</p>
        </div>
      </div>
      <div>
        <div class="uk-card custom-card">
          <h3 class="uk-card-title">O que não somos</h3>
          <p>Não somos partido em busca de cargos, nem caridade que promete esmolas. Não somos oposição que
            sonha com o mesmo Estado falido. Rejeitamos paternalismo e ilusões políticas.</p>
        </div>
      </div>
      <div>
        <div class="uk-card custom-card">
          <h3 class="uk-card-title">O que fazemos</h3>
          <p>Criamos redes de oportunidade, conectamos mentes livres e incentivamos cada indivíduo a dominar o
            próprio bolso. Inspiramos a conquistar riqueza, dignidade e liberdade real.</p>
        </div>
      </div>
      <div>
        <div class="uk-card custom-card">
          <h3 class="uk-card-title">O que não fazemos</h3>
          <p>Não pedimos favores ao Estado, não dependemos de subsídios e não lutamos por cadeiras de poder.
            Não prometemos soluções mágicas — entregamos ferramentas para criar as suas.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div style="
  background: 
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1) 0px,
      rgba(255, 255, 255, 0.1) 2px,
      transparent 2px,
      transparent 6px
    ),
    linear-gradient(135deg, #ffd71c, #917700, #ffd71c);
">


  <div class="uk-container">

    <div class="uk-text-center uk-container uk-margin-large-top">
      <h1 style="font-weight: 700px; color: #ffd71c;" class="botao-black"><b> Recursos e Benefícios </b></h1>
    </div>
    <div class="uk-container uk-margin-medium-top uk-margin-large-bottom uk-margin-small-bottom uk-text-center ">
      <div class="uk-child-width-1-1@m uk-grid-medium uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid
        uk-scrollspy="cls: uk-animation-slide-top; target: .uk-card; delay: 300; repeat: false">

        <!-- Lado direito -->
        <div class="uk-width-1-1@m" uk-grid>
          <ul class="uk-text-center uk-grid-divider uk-grid uk-child-width-1-3@s uk-child-width-1-1" uk-grid>
            <li>
              <div class="box">
                <div class="uk-padding">
                  <span uk-icon="icon: users; ratio: 2"></span>
                  <p style="font-weight: 700;">Clube VIP de Networking <br>e Matchmaking</p>
                </div>

              </div>
            </li>
            <li class="motion-1">
              <div class="box">
                <div class="uk-padding">
                  <span uk-icon="icon: bolt; ratio: 2"></span>
                  <p style="font-weight: 700;">Acesso à oportunidades<br> de formação e viajens </p>
                </div>
              </div>

            </li>
            <li class="motion-1">
              <div class="box">
                <div class="uk-padding">
                  <span uk-icon="icon: sign-in; ratio: 2"></span>
                  <p style="font-weight: 700;">Clube de Oportunidades <br> Profissionais e Comerciais</p>
                </div>

              </div>

            </li>
            <li class="motion-1">
              <div class="box">
                <div class="uk-padding">
                  <span uk-icon="icon: play-circle; ratio: 2"></span>
                  <p style="font-weight: 700;">Plataforma de Mídia <br> e Conteúdo</p>
                </div>
              </div>

            </li>
            <li class="motion-1">
              <div class="box">
                <div class="uk-padding">
                  <span uk-icon="icon: file-text; ratio: 2"></span>
                  <p style="font-weight: 700;">Estudos, Investigação <br> e Produção Científica</p>
                </div>
              </div>
            </li>

            <li class="motion-1">
              <div class="box">
                <div class="uk-padding">
                  <span uk-icon="icon: calendar; ratio: 2"></span>
                  <p style="font-weight: 700;">Eventos Presenciais <br> e Online</p>
                </div>
              </div>
            </li>



          </ul>
        </div>


      </div>
    </div>
  </div>
</div>


<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
  data-src="/img/women-profession-cla.png" uk-img uk-parallax="bgy: -200">
  <div class="uk-container uk-width-1-2@m uk-text-center">
    <h1 uk-parallax="y: 20,-20; opacity: 1,0.8">
      Honramos o <b>trabalho inteligente</b>, criamos <b>oportunidades</b> e elevamos <b>padrões</b>.
    </h1>

  </div>
</div>

<div id="juntar-se" class="uk-section glass-form-bg">
  <div class="uk-container uk-container-small">


    <p style="color: #fff;" class="uk-text-center uk-text-lead">
      O momento é agora.
    </p>
    <h2 class=" uk-text-center">
      <span style="color:#ffd71c; font-weight: 700; font-size: 3rem;">Tornar-se Membro</span>
    </h2>


    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="uk-form-stacked uk-margin-large-top glass-form">

      <!-- Nome -->
      <div class="uk-margin">
        <label class="uk-form-label">Nome completo</label>
        <input class="uk-input glass-input" formControlName="nome" placeholder="Digite o seu nome completo">
        <div *ngIf="registerForm.get('nome')?.touched && registerForm.get('nome')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('nome')?.errors?.['required']">O nome é obrigatório.</div>
          <div *ngIf="registerForm.get('nome')?.errors?.['minlength']">O nome deve ter pelo menos 5 caracteres.</div>
          <div *ngIf="registerForm.get('nome')?.errors?.['maxlength']">O nome não pode ultrapassar 100 caracteres.</div>
        </div>
      </div>

      <!-- Naturalidade -->
      <div class="uk-margin">
        <label class="uk-form-label">Naturalidade</label>
        <input class="uk-input glass-input" formControlName="naturalidade"
          placeholder="Digite o município de nascência">
        <div *ngIf="registerForm.get('naturalidade')?.touched && registerForm.get('naturalidade')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('naturalidade')?.errors?.['required']">A naturalidade é obrigatória.</div>
          <div *ngIf="registerForm.get('naturalidade')?.errors?.['minlength']">Digite pelo menos 3 caracteres.</div>
        </div>
      </div>

      <!-- Residência -->
      <div class="uk-margin">
        <label class="uk-form-label">Residência Actual</label>
        <input class="uk-input glass-input" formControlName="residencia" placeholder="Digite o local de residência">
        <div *ngIf="registerForm.get('residencia')?.touched && registerForm.get('residencia')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('residencia')?.errors?.['required']">A residência é obrigatória.</div>
          <div *ngIf="registerForm.get('residencia')?.errors?.['minlength']">Digite pelo menos 3 caracteres.</div>
        </div>
      </div>

      <!-- Nº do B.I / Passaporte -->
      <div class="uk-margin">
        <label class="uk-form-label">Nº do B.I </label>
        <input class="uk-input glass-input" formControlName="numeroBI" type="text" placeholder="Ex.: 000000000LA040">
        <div *ngIf="registerForm.get('numeroBI')?.touched && registerForm.get('numeroBI')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('numeroBI')?.errors?.['required']">
            O número do BI é obrigatório.
          </div>
          <div *ngIf="registerForm.get('numeroBI')?.errors?.['pattern']">
            O número do BI deve seguir o formato:
            <b>9 dígitos + 2 letras + 3 dígitos</b> (ex.: 000000000LA040).
          </div>
        </div>
      </div>


      <!-- Idade -->
      <div class="uk-margin">
        <label class="uk-form-label">Idade</label>
        <input class="uk-input glass-input" formControlName="idade" type="number" min="18"
          placeholder="A partir de 18 anos">
        <div *ngIf="registerForm.get('idade')?.touched && registerForm.get('idade')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('idade')?.errors?.['required']">A idade é obrigatória.</div>
          <div *ngIf="registerForm.get('idade')?.errors?.['min']">A idade mínima é 18 anos.</div>
          <div *ngIf="registerForm.get('idade')?.errors?.['max']">Digite uma idade válida.</div>
        </div>
      </div>

      <!-- Email -->
      <div class="uk-margin">
        <label class="uk-form-label">E-mail</label>
        <input class="uk-input glass-input" formControlName="email" type="email" placeholder="nome@dominio.com">
        <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('email')?.errors?.['required']">O e-mail é obrigatório.</div>
          <div *ngIf="registerForm.get('email')?.errors?.['email']">Digite um e-mail válido.</div>
        </div>
      </div>

      <!-- Telefone -->
      <div class="uk-margin">
        <label class="uk-form-label">Telefone / WhatsApp</label>
        <input class="uk-input glass-input" formControlName="telWhatsapp" type="tel" placeholder="+244930000000">
        <div *ngIf="registerForm.get('telWhatsapp')?.touched && registerForm.get('telWhatsapp')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('telWhatsapp')?.errors?.['required']">O número de telefone é obrigatório.</div>
          <div *ngIf="registerForm.get('telWhatsapp')?.errors?.['pattern']">Formato inválido. Exemplo: 244930000000.
          </div>
        </div>
      </div>

      <!-- Ocupação -->
      <div class="uk-margin">
        <label class="uk-form-label">Situação Ocupacional</label>
        <select class="uk-select glass-input" formControlName="ocupacao">
          <option value="">Selecione</option>
          <option>Empresário</option>
          <option>Profissional Autónomo</option>
          <option>Executivo</option>
          <option>Gestor</option>
          <option>Técnico / Operacional</option>
          <option>Funcionário Público</option>
          <option>Estudante</option>
          <option>Outro</option>
        </select>
        <div *ngIf="registerForm.get('ocupacao')?.touched && registerForm.get('ocupacao')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('ocupacao')?.errors?.['required']">Selecione a sua ocupação.</div>
        </div>
      </div>

      <!-- Áreas de interesse -->
      <div class="uk-margin">
        <label class="uk-form-label">Áreas de interesse</label>
        <div class="uk-form-controls flex flex-wrap gap-3">
          <button type="button" class="glass-btn" [class.active]="areasInteresse.value.includes('Networking de Elite')"
            (click)="toggleArea('Networking de Elite')">
            Networking de Elite
          </button>

          <button type="button" class="glass-btn"
            [class.active]="areasInteresse.value.includes('Investimentos e Negócios')"
            (click)="toggleArea('Investimentos e Negócios')">
            Investimentos e Negócios
          </button>

          <button type="button" class="glass-btn" [class.active]="areasInteresse.value.includes('Formação e Viagens')"
            (click)="toggleArea('Formação e Viagens')">
            Formação e Viagens
          </button>

          <button type="button" class="glass-btn"
            [class.active]="areasInteresse.value.includes('Ciência e Publicações')"
            (click)="toggleArea('Ciência e Publicações')">
            Ciência e Publicações
          </button>

          <button type="button" class="glass-btn" [class.active]="areasInteresse.value.includes('Eventos Exclusivos')"
            (click)="toggleArea('Eventos Exclusivos')">
            Eventos Exclusivos
          </button>
        </div>

        <div *ngIf="registerForm.get('areasInteresse')?.touched && registerForm.get('areasInteresse')?.invalid"
          class="uk-text-danger uk-text-small">
          Selecione pelo menos uma área de interesse.
        </div>
      </div>

      <!-- Motivação -->
      <div class="uk-margin">
        <label class="uk-form-label">Porque deseja tornar-se membro?</label>
        <textarea class="uk-textarea glass-input" formControlName="motivacao" rows="5"></textarea>
        <div *ngIf="registerForm.get('motivacao')?.touched && registerForm.get('motivacao')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('motivacao')?.errors?.['required']">Este campo é obrigatório.</div>
          <div *ngIf="registerForm.get('motivacao')?.errors?.['minlength']">Explique em pelo menos 30 caracteres.</div>
        </div>
      </div>

      <!-- Afiliado a partido -->
      <div class="uk-margin">
        <label class="uk-form-label">É afiliado a algum partido político?</label>
        <select class="uk-select glass-input" formControlName="afiliadoPartido">
          <option value="">Selecione</option>
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
        </select>
      </div>

      <!-- Qual partido -->
      <div class="uk-margin" *ngIf="registerForm.get('afiliadoPartido')?.value === 'Sim'">
        <label class="uk-form-label">Se sim, qual?</label>
        <input class="uk-input glass-input" formControlName="partidoQual" placeholder="Digite o nome do partido">
      </div>

      <!-- Profissão / Valor que pode agregar -->
      <div class="uk-margin">
        <label class="uk-form-label">Valor Profissional que pode agregar à CLA</label>
        <textarea class="uk-textarea glass-input" formControlName="profissaoValor" rows="3"
          placeholder="Descreva como sua experiência ou competências podem contribuir"></textarea>
        <div *ngIf="registerForm.get('profissaoValor')?.touched && registerForm.get('profissaoValor')?.invalid"
          class="uk-text-danger uk-text-small">
          <div *ngIf="registerForm.get('profissaoValor')?.errors?.['required']">
            Este campo é obrigatório.
          </div>
          <div *ngIf="registerForm.get('profissaoValor')?.errors?.['minlength']">
            Descreva em pelo menos 3 caracteres.
          </div>
        </div>
      </div>
      <!-- Nível Académico -->
      <div class="uk-margin">
        <label class="uk-form-label">Nível Académico</label>
        <select class="uk-select glass-input" formControlName="nivelAcademico">
          <option value="">Selecione</option>
          <option>Ensino Médio</option>
          <option>Licenciatura</option>
          <option>Mestrado</option>
          <option>Doutoramento</option>
        </select>
        <div *ngIf="registerForm.get('nivelAcademico')?.touched && registerForm.get('nivelAcademico')?.invalid"
          class="uk-text-danger uk-text-small">
          Este campo é obrigatório.
        </div>
      </div>

      <!-- Área de Formação -->
      <div class="uk-margin">
        <label class="uk-form-label">Área de Formação</label>
        <input class="uk-input glass-input" formControlName="areaFormacao"
          placeholder="Ex.: Computação, Direito, Economia">
        <div *ngIf="registerForm.get('areaFormacao')?.touched && registerForm.get('areaFormacao')?.invalid"
          class="uk-text-danger uk-text-small">
          A área de formação é obrigatória.
        </div>
      </div>


      <!-- Ideologia -->
      <div class="uk-margin">
        <label class="uk-form-label">Orientação Ideológica</label>
        <select class="uk-select glass-input" formControlName="ideologia">
          <option value="">Selecione</option>
          <option>Capitalismo</option>
          <option>Socialismo</option>
          <option>Libertarianismo</option>
          <option>Comunismo</option>
          <option>Liberalismo</option>
          <option>Não sei dizer</option>
          <option>Outro</option>
        </select>
        <div *ngIf="registerForm.get('ideologia')?.touched && registerForm.get('ideologia')?.invalid"
          class="uk-text-danger uk-text-small">
          Este campo é obrigatório.
        </div>
      </div>
      <!-- Entidade castrense -->
      <div class="uk-margin">
        <label class="uk-form-label">Trabalha para alguma entidade castrense?</label>
        <select class="uk-select glass-input" formControlName="entidadeCastrense">
          <option value="">Selecione</option>
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
        </select>
      </div>

      <!-- Qual entidade -->
      <div class="uk-margin" *ngIf="registerForm.get('entidadeCastrense')?.value === 'Sim'">
        <label class="uk-form-label">Se sim, qual?</label>
        <select class="uk-select glass-input" formControlName="castrenseQual">
          <option value="">Selecione</option>
          <option>Polícia Nacional</option>
          <option>Forças Armadas</option>
          <option>Bombeiros</option>
          <option>Serviços de Inteligência</option>
        </select>
      </div>
      <!-- Indicador / Como soube da CLA -->
      <div class="uk-margin">
        <label class="uk-form-label">
          Como soube da CLA?
        </label>
        <span class="uk-text-small uk-text-muted"> Candidaturas por indicação de membros activos têm prioridade. Se
          venho do grupo do privado do Facebook por escreva explique.</span>


        <input class="uk-input glass-input" formControlName="indicador"
          placeholder="Ex.: Indicação de João Silva (LinkedIn) / Evento / Pesquisa online / Entrevista / Outro"
          aria-label="Como soube da CLA">

        <div *ngIf="registerForm.get('indicador')?.touched && registerForm.get('indicador')?.invalid"
          class="uk-text-danger uk-text-small uk-margin-small-top">
          <div *ngIf="registerForm.get('indicador')?.errors?.['required']">
            Este campo é obrigatório. Candidaturas por indicação tendem a ser priorizadas.
          </div>
          <div *ngIf="registerForm.get('indicador')?.errors?.['minlength']">
            Informe pelo menos 3 caracteres.
          </div>
          <div *ngIf="registerForm.get('indicador')?.errors?.['maxlength']">
            Máximo de 100 caracteres.
          </div>
        </div>
      </div>

      <!-- Redes sociais -->
      <h1 class="uk-heading-line uk-text-center uk-margin-medium-top"><span style="color: white;">Redes Sociais</span>
      </h1>
      <p class="uk-text-center uk-text-small uk-text-muted">Seus links de perfil de redes sociais.</p>
      <div class="uk-margin">
        <label class="uk-form-label">LinkedIn</label>
        <input class="uk-input glass-input" formControlName="linkedin" placeholder="https://linkedin.com/in/seu-perfil">
      </div>

      <div class="uk-margin">
        <label class="uk-form-label">Instagram</label>
        <input class="uk-input glass-input" formControlName="instagram" placeholder="https://instagram.com/seu-perfil">
      </div>

      <div class="uk-margin">
        <label class="uk-form-label">Facebook</label>
        <input class="uk-input glass-input" formControlName="facebook" placeholder="https://facebook.com/seu-perfil">
      </div>




      <!-- Checkbox Aceite -->
      <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label>
          <input class="uk-checkbox" formControlName="aceite" type="checkbox">
          Confirmo que todas as informações prestadas são verdadeiras.
        </label>
        <div *ngIf="registerForm.get('aceite')?.touched && registerForm.get('aceite')?.invalid"
          class="uk-text-danger uk-text-small">
          É necessário confirmar a veracidade das informações.
        </div>
      </div>

      <!-- Checkbox Princípios -->
      <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label>
          <input class="uk-checkbox" formControlName="principios" type="checkbox">
          Comprometo-me a respeitar a <a href="#modal-declaracao" uk-toggle> Declaração de Princípios da
            Confederação</a>.
        </label>
        <div *ngIf="registerForm.get('principios')?.touched && registerForm.get('principios')?.invalid"
          class="uk-text-danger uk-text-small">
          É necessário aceitar os princípios da CLA.
        </div>
      </div>

      <!-- This is the modal -->
      <div id="modal-declaracao" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <div class="uk-section uk-section-muted">
            <div class="uk-container uk-container-small">

              <h2 class="uk-heading-line uk-text-center uk-margin-large-bottom">
                <span>📜 Declaração de Princípios da CLA</span>
              </h2>

              <ul class="uk-list uk-list-large uk-list-divider uk-text-justify uk-text-lead">
                <li>
                  <strong>1. Excelência e Performance</strong><br>
                  A filiação é reservada a indivíduos capazes de demonstrar resultados objetivos e consistentes,
                  colocando métricas de performance acima de retórica ou ideologia.
                </li>

                <li>
                  <strong>2. Progresso como Mandato</strong><br>
                  A CLA existe para acelerar avanços estratégicos, privilegiando impacto económico, inovação disruptiva
                  e crescimento sustentável.
                </li>

                <li>
                  <strong>3. Capital Humano de Elite</strong><br>
                  Apenas indivíduos com comprovada capacidade de contribuição profissional, intelectual, financeira, ou
                  estratégica têm lugar nesta Confederação.
                </li>

                <li>
                  <strong>4. Defesa da Propriedade e do Património</strong><br>
                  A proteção, valorização e expansão da propriedade privada e da riqueza dos membros são princípios
                  inegociáveis.
                </li>

                <li>
                  <strong>5. Rede de Valor e Oportunidades</strong><br>
                  Cada membro é um ativo. Contatos, recursos e competências devem ser mobilizados de forma transacional,
                  lucrativa e mutuamente vantajosa.
                </li>

                <li>
                  <strong>6. Prosperidade como Medida de Sucesso</strong><br>
                  O êxito da CLA é mensurado pela prosperidade material, pelo poder de influência e pela relevância
                  alcançada por seus membros.
                </li>

                <li>
                  <strong>7. Transparência e Responsabilidade Executiva</strong><br>
                  Todos os compromissos assumidos devem ser claros, contratuais e vinculados a resultados verificáveis.
                </li>

                <li>
                  <strong>8. Neutralidade Partidária e Estratégica</strong><br>
                  A CLA não serve partidos, mas objetivos. Todas as decisões são guiadas pela lógica de eficiência,
                  poder e resultados.
                </li>

                <li>
                  <strong>9. Autossustentabilidade Financeira</strong><br>
                  A Confederação sustenta-se pelo investimento técnico, tecnológico e financeiro dos seus membros,
                  rejeitando dependência de subsídios estatais ou filantropia condicionada.
                </li>

                <li>
                  <strong>10. Lealdade e Confidencialidade Estratégica</strong><br>
                  A prioridade absoluta é a defesa dos interesses da CLA e de seus membros. Relações externas nunca
                  podem sobrepor-se ao prestígio, segurança e força da Confederação.
                </li>
              </ul>

            </div>
          </div>
          <div class="uk-modal-footer uk-text-right">
            <button style="background-color: #ffd71c; color: #000 ;"
              class="  uk-button uk-border-rounded uk-button-secondary uk-modal-close" type="button">Voltar</button>
          </div>
        </div>
      </div>
      <!-- Botão -->
      <div class="uk-margin uk-text-center">
        <button type="submit" class="uk-button uk-button-large uk-border-pill submit-btn">
          Enviar candidatura
        </button>
      </div>
    </form>

  </div>
</div>


<!-- Modal de Validação -->
<div id="validation-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 style="color: #000;" class="uk-modal-title">Formulário inválido</h2>
    <p style="color: #000;">Por favor, preencha todos os campos obrigatórios antes de continuar.</p>
    <button style="background-color: #000; color: #fff !important;"
      class="uk-button uk-button-default uk-modal-close uk-border-rounded" type="button">Fechar</button>
  </div>
</div>

<!-- Modal de Carregamento -->
<div id="loading-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h3 style="color: #000;">Aguarde...</h3>
    <div uk-spinner></div>
  </div>
</div>

<!-- Modal de Sucesso -->
<div id="success-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Solicitação de adesão enviada!</h2>
    <p>Obrigado pelo seu interesse membro. Verifique sua caixa de E-mail.</p>
    <button style="background-color: #000; color: #fff !important;"
      class="uk-button uk-button-primary uk-modal-close uk-border-rounded" type="button">Fechar</button>
  </div>
</div>

<!-- Modal de Erro -->
<div id="error-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Erro!</h2>
    <p>Ocorreu um problema ao enviar o formulário. Tente novamente.</p>
    <button style="background-color: #000; color: #fff !important;" class="uk-button uk-button-danger uk-modal-close"
      type="button">Fechar</button>
  </div>
</div>



<app-rodape></app-rodape>