/* You can add global styles to this file, and also import other style files */
p a h1 h2 h3 h4 h5 h6 li span div {
  color: #ffffff;
  font-family: "Raleway", sans-serif !important;
}



p, a, h1, h2, h3, h4, h5, h6, li, span, div {
  
  font-family: "Raleway", sans-serif !important;
}